/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.pem
*.key
*.p12
*.pfx
*.sql
*.bak
*.old

*.zip
