<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteRule ^(\.env|\.git|composer\.(json|lock)|package\.(json|lock)) - [F,L]
    RewriteRule \.(zip|bak|old|sql|tar|gz|7z|rar|key|pem|log|env.*)$ - [F,L]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\s+([^?\s]*)/public(?:/([^\s?]*))? [NC]
    RewriteRule ^ %1/%2 [R=301,L,NE]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
